* {
	margin: 0;
	padding: 0;
}

.label {
	width: 10px;
	height: 10px;
	border-radius: 4px;
	background-color: red;
}

#root {
	height: 100vh;
	width: 100%;
}

#main,
#map-container {
	width: inherit;
	height: inherit;
}

#map-container,
#info-panel {
	position: absolute;
}

ul {
	background-color: rgba(128, 128, 128, 0.85);
}

li {
	padding: 0.6em 1em;
	border: 1px solid green;
}
label {
	padding-left: 0.3em;
	font-size: 1em;
}
