* {
	margin: 0;
	padding: 0;
}

.label {
	width: 15px;
	height: 15px;
	border-radius: 8px;
	background-color: rgb(63, 50, 255);
}
.visited {
	background-color: rgba(206, 93, 93, 0.5);
}

#root {
	height: 100vh;
	width: 100%;
}

#main,
#map-container {
	width: inherit;
	height: inherit;
}

#map-container,
#info-panel {
	position: absolute;
}

#info-panel {
	height: 100%;
	overflow: scroll;
}

ul {
	background-color: rgba(128, 128, 128, 0.85);
	color: white;
}

li {
	padding: 0.6em 1em;
	border: 1px solid green;
}
label {
	padding-left: 0.3em;
	font-size: 1em;
}

input[type='checkbox']:checked + label {
	color: rgb(100, 100, 100);
}
